
BODY {
  font-family : "PT Sans", sans-serif; 
  font-size: 10px;
  color : black;
}
* {
  padding : 0pt;
  margin : 0pt;
  border : none 0pt;
  font-weight : normal;
  text-decoration : none;
}

/* ========================== GENERIC ============================== */

a {
  color : steelblue;
  font-size : inherit;
}

/* ========================== HEADER/FOOTER ======================== */
header, footer {
  /*background : rgb(120, 120, 120);*/
  background : rgb(100, 100, 100);
  /*border-bottom : 1px solid rgb(80, 80, 80);*/
  border-bottom : 1px solid rgb(40, 40, 40);
  padding : 20px 10px;
  color : white;
}
header h1 {
  font-size : 200%;
  color : inherit;
  font-variant : small-caps;
}
header a {
  color : #7eb5ff;
}
footer {
  clear : both;
}

/* ========================== MENU BAR TOP ========================= */
#navigation-container
{
  /*background : steelblue;*/
  background : rgb(80, 80, 80);
  border-bottom : 1px solid rgb(120, 120, 120);
  float: left;
  width: 100%;
}

#navigation
{
  margin: 0px;
  width: 100%;
}

#navigation ul
{
  margin: 0;
  padding: 0;
}

#navigation ul li
{
  list-style-type: none;
  display: inline;
}

#navigation li a
{
  display: block;
  float: left;
  padding: 5px 10px;
  color : white;
  font-variant : small-caps;
  font-size : 120%;
  border-right : 1px solid rgb(80, 80, 80);
  border-right : 1px solid rgb(180, 180, 180);
}

#navigation li a:hover { 
  background : #7eb5ff;
  background : steelblue;
}
/* ========================== ARTICLE =============================== */
article {
  float : left;
  width : 100%;
}

/* ========================== MENU ================================== */
div.menu {
  float : left;
  width : 240px;
  padding : 10px 10px;
  min-height : 1500px;
  background : rgb(240, 240, 240);
  border-right : rgb(150, 150, 150) solid 1px;
}
div.menu h3 {
  font-size : 100%;
  font-weight : bold;
  font-variant : small-caps;
  margin-top : 10pt;
  margin-bottom : 4pt;
}
.connectedSortable { 
  border-top : solid 1px rgb(200,200,200);
  border-bottom : solid 1px rgb(200,200,200);
  list-style-type: none; 
  margin: 0; 
  padding: 4px 0; 
  width: 100%; 
}
.connectedSortable li { 
  margin: 2px 0px 2px 0px; 
  padding: 0.2em; 
  padding-left: .8em; 
  font-size: 10px; 
  /*height: 13px; */
}
.connectedSortable li span { 
  position: absolute; 
  margin-left: -1.3em;        
}
.draggable {
  cursor: move;
}

/* ========================== TABLES ================================ */
div.table {
  margin-top : 10px;
  margin-bottom : 20px;
  border-bottom : 1px solid rgb(180, 180, 180);
  border-top : 1px solid rgb(180, 180, 180);
  padding : 10px 5px;
}
div.table:hover {
  border-bottom : 1px solid rgb(150, 150, 150);
  border-top : 1px solid rgb(150, 150, 150);
}
div.table H2 {
  margin-bottom : 8px;
}
div.table p.tableoptions {
  margin-top : 4px;
}

/* ========================== GRAPH ================================= */
div.content {
  margin-left : 265px;
  padding : 5px;
}
div#resizable {
  padding : 5px;
  width : 400px;
  height : 400px;
}
div.graph {
  /*margin-left : 240px;*/
  color : black;
  width : 100%;
  height : 100%;
}
div#graphtype, div#graphdata {
  color : gray;
}

td.value {
   font-weight: bold;
}

/* ========================== FILTER MENU =========================== */
.collapseblethingy {
  /*background : rgba(0,0,0, 0.5);*/
  background : rgba(255, 255, 255, 0.8);
  color : black;
  /*z-index : 10;*/
  /*position : relative;*/
  /*left : 235px;*/
  /*margin-top : -10px;*/
  margin-top : 3px;
  margin-left : -6px;
  cursor : auto; 
  padding : 5pt;
}
.collapseblethingy input{
  margin-right : 5pt;
}
.collapse {
  /*position : relative;*/
  left : 240px;
  margin-top : -3px;
  cursor : pointer;
}

/* ========================== GRAPH CAPTION ========================= */
#caption {
  font-style : italic;
  margin-top : 20px;
}
#caption table {
  margin-left : 20px;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  /*display: none;*/
}

.axis line, .axis path {
  fill: none;
  stroke: #333;
}

table.smallmultiple th{
  font-style: italic;
}

table.label th {
   text-align: left;
   color: silver;
}

table.label td {
   font-weight: bold;
   text-align: right;
}
