
BODY {
  font-family : "Ubuntu", sans-serif;
  font-weight : 300;
  font-size: 12px;
  color : black;
  margin : 0pt;
}
* {
  font-weight : 300;
  text-decoration : none;
}

/* ========================== GENERIC ============================== */

a {
  color : steelblue;
  font-size : inherit;
  font-weight : inherit;
}
a:hover {
  color : steelblue;
  text-decoration : none;
}
h1, h2, h3 {
  line-height : normal;
}
h1 {
  font-size : 150%;
  font-weight : 400;
}
h2 {
  font-size : 150%;
  font-weight : 400;
}
h3 {
  font-size : 130%;
  font-weight : 400;
}

/* Tables */
table {
  border-collapse : collapse;
}
td, th {
  padding : 0px 5px;
  text-align : left;
}
.numeric td, .numeric th {
  text-align : right;
}
th {
  font-weight : 400;
}

/* ========================== HEADER/FOOTER ======================== */
header, footer {
  margin : 0px 0px;
  padding : 0px;
}
header h1 {
  font-size : 180%;
  color : inherit;
  margin : 5px 0px 2px 0px;
  font-weight : 400;
}
header h1 a {
}
footer {
}

/* ========================== ARTICLE =============================== */
article {
  margin : 0px 20px;
  min-height : 500px;
  padding-top : 20px;
  padding-bottom : 100px;
}


.brand{
  color: #FFFFFF;
}