
/* ========================== MENU ================================== */
div.menu {
  float : left;
  width : 240px;
  padding : 10px 10px;
  min-height : 1500px;
  background : rgb(240, 240, 240);
  border-right : rgb(150, 150, 150) solid 1px;
}
div.menu h3 {
  font-size : 100%;
  font-weight : 400;
  margin-top : 10pt;
  margin-bottom : 4pt;
}
.connectedSortable { 
  border-top : solid 1px rgb(200,200,200);
  border-bottom : solid 1px rgb(200,200,200);
  list-style-type: none; 
  margin: 0; 
  padding: 4px 0; 
  width: 100%; 
}
.connectedSortable li { 
  margin: 2px 0px 2px 0px; 
  padding: 0.2em; 
  padding-left: .8em; 
  font-size: 10px; 
}
.connectedSortable li span { 
  position: absolute; 
  margin-left: -1.3em;        
}
.draggable {
  cursor: move;
}

/* ========================== GRAPH ================================= */
div.content {
  margin-left : 265px;
  padding : 5px;
}
div#resizable {
  padding : 5px;
  width : 400px;
  height : 400px;
}
div.graph {
  color : black;
  width : 100%;
  height : 100%;
}
div#graphtype, div#graphdata {
  color : gray;
}

td.value {
   font-weight: 400;
}

/* ========================== FILTER MENU =========================== */
.collapseblethingy {
  background : rgba(255, 255, 255, 0.8);
  color : black;
  margin-top : 3px;
  margin-left : -6px;
  cursor : auto; 
  padding : 5pt;
}
.collapseblethingy input{
  margin-right : 5pt;
}
.collapse {
  left : 240px;
  margin-top : -3px;
  cursor : pointer;
}

/* ========================== GRAPH CAPTION ========================= */
#caption {
  font-style : italic;
  margin-top : 20px;
}
#caption table {
  margin-left : 20px;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
}

.axis line, .axis path {
  fill: none;
  stroke: #333;
}

table.smallmultiple th{
  font-style: italic;
}

table.label th {
   text-align: left;
   color: silver;
}

table.label td {
   font-weight: 400;
   text-align: right;
}
.measurevar {
  /*background : rgb(255, 211, 32);*/
  background : rgb(255, 241, 132);
}
.measurevar:hover {
  background : rgb(255, 211, 32);
  color : black;
}
.idvar {
  background : rgb(204, 237, 100);
}
.idvar:hover {
  background : rgb(144, 207, 0);
  color : black;
}
div.numeric ul {
  border-top : solid 1px rgb(255, 211, 32);
  border-bottom : solid 1px rgb(255, 211, 32);
}
div.categorical ul {
  border-top : solid 1px rgb(144, 207, 0);
  border-bottom : solid 1px rgb(144, 207, 0);
}

