
/* ========================== MENU ================================== */
div.menu {
  float : left;
  width : 240px;
  padding : 0px 10px 20px 0px;
  border-right : rgb(150, 150, 150) solid 1px;
}
div.menu h3 {
  font-size : 100%;
  font-weight : 400;
  margin-top : 10px;
  margin-bottom : 4px;
  line-height : normal;
}
div.menu ul {
  margin-top : 0px;
}

.droppable {
  margin : 0px;
  padding : 0px;
  min-height : 15px;
  border-top : solid 1px white;
  border-bottom : solid 1px white;
}
.droppable_active {
  background : rgb(230,230,230);
  border-top : solid 1px rgb(200,200,200);
  border-bottom : solid 1px rgb(200,200,200);
}
.droppable_hover {
  background : none;
}
.draggable {
  cursor: move;
  display : block;
  margin : 2px 0px;
  background : white;
  color : black;
  border : rgb(200,200,200) 1px solid;
  padding : 2px 3px 2px 3px;
  border-radius: 5px;
  font-size : 90%;
}

/* ========================== GRAPH ================================= */
div.content {
  margin-left : 265px;
  padding : 5px;
}
div#resizable {
  padding : 5px;
  width : 400px;
  height : 400px;
  padding-bottom : 20px;
}
div#graph {
  width : 100%;
  height : 100%;
}
div.graph {
  color : black;
  width : 100%;
  height : 100%;
}
div#graphtype, div#graphdata {
  color : gray;
}

td.value {
   font-weight: 400;
}

/* ========================== FILTER MENU =========================== */

.togglefilter {
  float : right; 
  width : 15px; 
  padding-left : 5px;
}
form {
  margin : 0pt;
  padding : 0pt;
}


/* Undo some of the settings from bootstrap.css */
div.filter {
  margin : 0pt;
}

label {
  display: block;
}

label, input, button, select, textarea {
  font-size: inherit;
  font-weight: 300;
  line-height: inherit;
  margin-bottom : 0pt;
}


input[type="checkbox"] {
    margin: auto 1ex auto auto;
}

/* ========================== GRAPH CAPTION ========================= */
#caption {
  font-style : italic;
  margin-top : 20px;
}
#caption table {
  margin-left : 20px;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
}

.axis line, .axis path {
  fill: none;
  stroke: #333;
}

table.smallmultiple th{
  font-style: italic;
}

table.label th {
   text-align: left;
   color: silver;
}

table.label td {
   font-weight: 400;
   text-align: right;
}
.measurevar {
  /*background : rgb(255, 211, 32);*/
  background : rgb(255, 241, 132);
}
.measurevar:hover {
  background : rgb(255, 211, 32);
  color : black;
}
.idvar {
  background : rgb(204, 237, 100);
}
.idvar:hover {
  background : rgb(144, 207, 0);
  color : black;
}
div.numeric ul {
  border-top : solid 1px rgb(255, 211, 32);
  border-bottom : solid 1px rgb(255, 211, 32);
}
div.categorical ul {
  border-top : solid 1px rgb(144, 207, 0);
  border-bottom : solid 1px rgb(144, 207, 0);
}

text.label {
  border-radius : none;
}

text.label {
    background-color: none;
    color: inherit;
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0px;
    text-shadow: none;
    vertical-align: baseline;
    white-space: nowrap;
}

g.crosshair {
  pointer-events: none;
  stroke: black;
  stroke-width: 0.5;
  stroke-dasharray: 3 3;
  visibility: hidden;
}

span.color {
  background-color: gray;
  display: none;
  height: 1em;
  margin-right: 0.3em;
  width: 1em;
}

span.category0 {
 background-color: #1f77b4;
}
span.category1 {
 background-color: #ff7f0e;
}
span.category2 {
 background-color: #2ca02c;
}
span.category3 {
 background-color: #d62728;
}
span.category4 {
 background-color: #9467bd;
}
span.category5 {
 background-color: #8c564b;
}
span.category6 {
 background-color: #e377c2;
}
span.category7 {
 background-color: #7f7f7f;
}
span.category8 {
 background-color: #bcbd22;
}
span.category9 {
 background-color: #17becf;
}

ul.color span.color{
  display: inline-block;
}

ul.required {
  border: 1px silver dashed;
}
