
BODY {
  font-family : sans;
  font-size : 12px;
}
DIV#foo {
  border : none;
}

DIV.link {
  padding : 5px;
  background : lightgray;
  margin-top : 5px;
  margin-bottom : 5px;
  border : none;
  border-top : 1px solid gray;
  border-bottom : 1px solid gray;
}

DIV.links {
  border : none;
}

DIV.link1, DIV.link2 {
  height : 25px;
  width  : 205px;
  border : 0px;
  display : inline-block;
  vertical-align : top;
  margin-left : 10px;
}
DIV.linkcontent {
  border : none;
  /*border-top : gray 1px solid;*/
  /*background : white;*/
  /*padding : 10px;*/
  margin-left : 20px;
  display : inline-block;
}

DIV.column1, DIV.column2 {
  height : 20px;
  width  : 200px;
  background-color : steelblue; /*#4796BE;*/
  color : white;
  border : 0px;
  padding : 2px 5px 0px 5px;
}

DIV.columns {
  border : none;
}
DIV.columns1, DIV.columns2 {
  width  : 205px;
  border : none;
  display : inline-block;
  vertical-align : top;
  margin-left : 10px;
  margin-right : 10px;
  min-height : 20px;
} 
DIV.columns1 DIV.column1, DIV.columns2 DIV.column2 {
  margin-top : 2px;
  margin-bottom : 2px;
}

